.bg-box {
    width: 1600px;
    height: 1080px;
    background-color: darkgreen;
    background-image: url('../img/home-background.webp'), url('../img/donut.png'), url('../img/grass.png'), url('../img/headchock.webp'), url('../img/lamp.png');
    background-repeat: no-repeat, repeat-y, repeat-x, repeat-y, repeat-x;
    background-position: center, right, bottom, left, top;
    background-size: 50%, 5%, 25%, 5%, 7.5%;
}